PORT=5002
NODE_ENV=development

DATABASE_URL="postgresql://postgres.xxxxxxxxxxxx:[YOUR-PASSWORD]@aws-0-region.pooler.supabase.com:6543/postgres"

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379
